# Python
__pycache__/
*.pyc
venv/
.env

# Data (On ne versionne pas la DB, le script ingest.py la recréera)
*.duckdb
*.duckdb.wal

# dbt
dbt_project/target/
dbt_project/logs/
dbt_project/dbt_packages/
.user.yml
profiles.yml